<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mazekkkk.product.dao.mapper.GametradeMapper" >
  <cache eviction="LRU" type="cn.mazekkkk.product.dao.config.MyBatisRedisCache"/>
  <resultMap id="BaseResultMap" type="cn.mazekkkk.product.dao.common.Gametrade" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="OTHER" />
    <result column="connectorNo" property="connectorno" jdbcType="OTHER" />
    <result column="partnerId" property="partnerid" jdbcType="OTHER" />
    <result column="gamesBoxId" property="gamesboxid" jdbcType="OTHER" />
    <result column="gamesId" property="gamesid" jdbcType="OTHER" />
    <result column="openId" property="openid" jdbcType="OTHER" />
    <result column="clubCardId" property="clubcardid" jdbcType="OTHER" />
    <result column="orderTime" property="ordertime" jdbcType="OTHER" />
    <result column="payTime" property="paytime" jdbcType="OTHER" />
    <result column="payMode" property="paymode" jdbcType="OTHER" />
    <result column="tradeType" property="tradetype" jdbcType="OTHER" />
    <result column="tradeState" property="tradestate" jdbcType="OTHER" />
    <result column="tradeScene" property="tradescene" jdbcType="OTHER" />
    <result column="payAmount" property="payamount" jdbcType="OTHER" />
    <result column="coin" property="coin" jdbcType="OTHER" />
    <result column="remainCoin" property="remaincoin" jdbcType="OTHER" />
    <result column="gameTimes" property="gametimes" jdbcType="OTHER" />
    <result column="discountType" property="discounttype" jdbcType="OTHER" />
    <result column="discountId" property="discountid" jdbcType="OTHER" />
    <result column="discountAmt" property="discountamt" jdbcType="OTHER" />
  </resultMap>
</mapper>