<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mazekkkk.product.dao.mapper.skuinfo.CustomSkuInfoMapper">
    

    <select id="getSkuPropByParameterMap" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            si.id sku_info_id,
            si.name AS name,
            pp.name AS property_name,
            pp.cn_name AS cn_name,
            ppv.value AS value
        FROM
            sku_info si
        LEFT JOIN sku_prop_value spv ON si.id = spv.sku_id
        LEFT JOIN product_prop_value ppv ON spv.prop_value_id = ppv.id
        LEFT JOIN product_property pp ON ppv.property_id = pp.id
        WHERE
            si.id = #{skuId}
        AND ppv.type = 2
        AND si.status = 1
        AND spv.status = 1
    </select>

    <select id="getSkuIdByPropValudIds" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            CASE
        WHEN count(DISTINCT(sku_id)) = 1 THEN
            sku_id
        ELSE
            0
        END AS result
        FROM
            sku_prop_value
        <where>
            <if test="prop_value_ids!=null and prop_value_ids != ''">
                prop_value_id IN (#{prop_value_ids})
            </if>
        </where>
    </select>

</mapper>